# Copy this file to .env.local and fill in your values

# Camera API Session Cookie
# Get this from your browser DevTools (F12 > Network > Cameras > Request Headers > cookie)
CAMERA_SESSION_COOKIE=session=eyJ1c2VybmFtZSI6Im5hY2hvIn0.adPCWA.tIn4F4skBuqGZvdVRJwD-TW8vZI
